@import url('https://fonts.googleapis.com/css?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css?family=Content&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin : 0;
    padding : 0;
    font-family: 'Scheherazade', serif;
}

.top-header{

    background: linear-gradient(203.25deg, rgba(138, 0, 0, 0.78) -15.43%, rgba(0, 0, 0, 0.28) 102.88%), url(../images/library.jpg);    width: 100%;
    height: 443px;
    background-position: center;
    background-size: cover;
}

.hum-icon{
    margin-top : 13px;
    margin-left : 8px;
}
.button {
    position: relative;
    top : -2px;
    left : 6px;
}

.cta-zero {
    width : 86px;
    height: 25px;
    background-color : #5AEB83;
    border : none;
    border-radius: 5px;
    outline: none;
    white-space: nowrap;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;

}

.top-logo {
    width : 80px;
    height : 35px;
    position: absolute;
    right : 8px;
    top : 5px;
}

.what-one{
    color : white;
    position: absolute;
    font-size: 30px;
    top : 22%;
    right : 8px;
    transform: translate(-8px, -22%);
}

.what-two{
    font-family: 'Vibes', cursive;
    color : #5AEB83;
    position: absolute;
    font-size: 80px;
    top : 2%;
    right : 25%;
    transform: translate(-25%, -22%);
}

.search-input{
    position: absolute;
    top : 48%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color : white;
    color : black;
    width : 90%;
    height: 55px;
    border : none;
    border-radius: 8px;
    outline : none;
    font-size: 24px;
    padding-right: 20px;
    font-weight: lighter;
}

.search-icon {
    position: absolute;
    top : 48%;
    left : 7%;
    transform: translate(-7%, -48%);
}

.sub-title {
    font-size: 64px;
    margin-top  : -40px;
    margin-bottom: -40px;
    margin-right : 8px;
    text-align: right;
}

.sub-sub-title{
    font-size: 40px;
    margin-top  : -25px;
    margin-bottom: -25px;
}

.des {
    font-size: 20px;
    margin-top : 15px;
    margin-bottom: -25px;
}
.why-item{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left : 10px;
    display: inline-block;
    width : 280px;
}

.why-item {
    vertical-align: top;
}

white{
    color : white;
}

.card-container {
    height: 250px;
    width : 203px;
    display: inline-block;
    margin-left : 10px;
    margin-right : 10px;
    border : none;
    border-radius: 20px;
    margin-bottom : 20px;
    margin-top : 10px;
    color : white;


    -webkit-box-shadow: 6px 6px 15px 2px rgba(184,184,184,1);
    -moz-box-shadow: 6px 6px 15px 2px rgba(184,184,184,1);
    box-shadow: 6px 6px 15px 2px rgba(184,184,184,1);
}

.card-filter{
    width : 100%;
    height : 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top : 0%;
    left : 0%;
}

.card-title {
    font-size: 40px;
    text-align: right;
    margin-right : 20px;
    line-height: 40px;
    margin-top : -0px;
    margin-bottom: -15px;
}

.card-by {
    font-size: 23px;
    color : #A0A0A0;
    text-align : right;
    margin-right : 20px;
}

.stared , .non-stared{
    width : 13px;
    height: 13px;
}

.card-star-holder {
    text-align : right;
    margin-right: 20px;
    margin-top : -25px;
}

.card-students {
    color : #A0A0A0;
    font-size: 23px;
    text-align: right;
    margin-right: 20px;
    margin-top : -5px;
}

.card-button {
    width : 157px;
    height : 40px;
    background-color: red;
    color : white;
    border-radius: 8px;
    cursor: pointer;
    margin-top : -15px;
}

.card-button:hover{
    opacity: 0.5;
}

cp {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px #000000, 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    top : 202px;
    left : 40px;
    text-align : center;
}

lp{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    position: absolute;
    top : 208px;
    left : 120px;
    text-align: center;
}

.card-lined{
    width : 58px;
    height : 1px;
    background-color : #000;
    position: absolute;
    top : 215px;
    left : 113px;
    text-align: center;

}



